@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-100.woff2) format("woff2"), url(../fonts/woff/F0nt-100.woff) format("woff"), url(../fonts/ttf/F0nt-100.ttf) format("truetype");
  font-weight: 100;
  font-style: normal; }
.f0nt-100 {
  font-family: F0nt;
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-200.woff2) format("woff2"), url(../fonts/woff/F0nt-200.woff) format("woff"), url(../fonts/ttf/F0nt-200.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }
.f0nt-200 {
  font-family: F0nt;
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-300.woff2) format("woff2"), url(../fonts/woff/F0nt-300.woff) format("woff"), url(../fonts/ttf/F0nt-300.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }
.f0nt-300 {
  font-family: F0nt;
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-400.woff2) format("woff2"), url(../fonts/woff/F0nt-400.woff) format("woff"), url(../fonts/ttf/F0nt-400.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
.f0nt-400 {
  font-family: F0nt;
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-500.woff2) format("woff2"), url(../fonts/woff/F0nt-500.woff) format("woff"), url(../fonts/ttf/F0nt-500.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }
.f0nt-500 {
  font-family: F0nt;
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-600.woff2) format("woff2"), url(../fonts/woff/F0nt-600.woff) format("woff"), url(../fonts/ttf/F0nt-600.ttf) format("truetype");
  font-weight: 600;
  font-style: normal; }
.f0nt-600 {
  font-family: F0nt;
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-700.woff2) format("woff2"), url(../fonts/woff/F0nt-700.woff) format("woff"), url(../fonts/ttf/F0nt-700.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }
.f0nt-700 {
  font-family: F0nt;
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-800.woff2) format("woff2"), url(../fonts/woff/F0nt-800.woff) format("woff"), url(../fonts/ttf/F0nt-800.ttf) format("truetype");
  font-weight: 800;
  font-style: normal; }
.f0nt-800 {
  font-family: F0nt;
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: F0nt;
  src: url(../fonts/woff2/F0nt-900.woff2) format("woff2"), url(../fonts/woff/F0nt-900.woff) format("woff"), url(../fonts/ttf/F0nt-900.ttf) format("truetype");
  font-weight: 900;
  font-style: normal; }
.f0nt-900 {
  font-family: F0nt;
  font-weight: 900;
  font-style: normal; }

@font-face {
  font-family: "F0nt Ultra";
  src: url(../fonts/woff2/F0nt-1000.woff2) format("woff2"), url(../fonts/woff/F0nt-1000.woff) format("woff"), url(../fonts/ttf/F0nt-1000.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }
.f0nt-1000 {
  font-family: "F0nt Ultra";
  font-weight: 400;
  font-style: normal; }

/*# sourceMappingURL=f0nt-all.css.map */
